@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');


*,body{
    margin: 0;
    padding: 0;
    
}

body{
    min-width: 100%;
}
#menu{
    display: flex;
    
    align-items: center;
    width: 100%;
    justify-content: center;
    box-shadow: 1px 1px rgba(223, 223, 223, 0.663), 0 .2em .4em rgb(59, 59, 59);

    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: rgb(255, 255, 255);
}

#menu .conteiner{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-evenly;
    height: 100px;
}
#menu h1{
    color: #00985d;
    font-size: 50px;
    font-family:'Bebas Neue', sans-serif;
    
}

#menu .list{
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Bebas Neue', sans-serif;
}

#menu #home{
    color: rgba(54,86,62,255);
    font-weight: 700;
}

#menu .listMenu{
    border:0;
    color: rgba(93,100,58,255);
    background:none;
    transition: color 0.2s;
    font-family:'Bebas Neue', sans-serif;
    font-size: 20px;
}

#menu #cfo{
   border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 100px;
    background-image: linear-gradient(to right, #007C71, #037B70);
    color: white;
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#menu .listMenu:hover{
    color: rgba(54,86,62,255);
    font-weight: 700;
}

/*Destaque*/

#destaque{
   
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Baskervville', serif;
   
    background:
    linear-gradient(
      #037b7196,#037b7196
    ),
    url(src/background.png) no-repeat ;
   background-size: cover;
    

}
#destaque h1{
   margin-top: 200px;
   font-size: 65px;
   color: #f4f4f4;
   width: 650px;
   text-align: center;
  
}


.buttonInit{
   margin-top: 20px;
   border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 100px;
    background-color: #ffffff;
    color: rgb(44, 44, 44);
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -40px;
}



/*Serviços*/
#servicos{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
   
}

#servicos .titleS{
    text-align: center;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 50px;
}
#servicos .titleS h1{
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 30px;
    
}
#servicos .titleS p{
    font-size: 22px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 100;
    color: rgb(75, 75, 75);

}

#servicos .conteiner-service{
   margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#servicos .conteiner-service .serv{
   display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 60%;
    margin-bottom: 10px;
}
#servicos .conteiner-service .boxservice{
    width: 30%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    text-align:left;
    font-family: 'Bebas Neue', sans-serif;
   
    
   transition: transform 2s;
}
.boxservice:hover{
   transform: scale(1.1);
}
#servicos .conteiner-service #serv2{
   width: 60%;
   justify-content: space-evenly;
}

#servicos .conteiner-service .boxservice ul{
   margin-top: 20px;
   width: 80%;
   color: rgb(49, 49, 49);
   list-style: none;
   text-align: center;
   
   

   
}
.boxservice img{
   width: 100%;
}
.imgS{
   transition: transform 1s;
}

.imgCase{
   margin-bottom: 100px;
   box-shadow: 1px 1px rgba(223, 223, 223, 0.663), 0 .2em .4em rgb(59, 59, 59);
}
.buttonS{
    margin-top: 20px;
    padding: 10px 40px;
    background-color:transparent ;
    text-decoration: underline #007C71;
    border: 0;
    font-size: 24px;
    color: #037B70;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 20px;
    
}
.imgS:hover{

    transform: scale(1.1);
}

/* =====  Introducao =====*/
.introducao{
   width: 90%;
   height: 950px;
   background-color: #F6FFFC;
   margin: 100px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid #6f6e6e;
   border-radius: 4px;
}
.introducao h1{
   font-family: 'Bebas Neue', sans-serif;
   font-size: 80px;
}
.introducao h3{
   font-family: 'Bebas Neue', sans-serif;
   font-size: 45px;
   font-weight: 300;
   color: #333333;
   margin-bottom: 20px;
}
.introducao img{
   margin-top: 20px;
}

.intrConteudo{
   display: flex;
   flex-direction:row;
   width: 100%;
   justify-content: space-evenly;
   align-items: center;
   height: 70%;
}
.statusColum{
   display: flex;
   flex-direction: column;
   align-items:end;
   width: 300px;
   text-align: right;

}
.colum .inverse{
   display: flex;
   flex-direction: column;
   align-items:start;
   width: 200px;
   text-align: left;
}
.colum{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 30%;
   height: 80%;
   justify-content: space-between;
}
.statusColum h2{
   font-size: 50px;
   font-family: 'Bebas Neue', sans-serif;
   font-weight: 400;
}
.statusColum p{
   font-family: 'Arimo', sans-serif;
   font-size: 18px;
   font-weight: 600;
}
.statusColum .subtitle{
   font-size: 25px;
   font-weight: 200;
   font-style: italic;
}
.inverse h2{
   font-size: 50px;
   font-family: 'Bebas Neue', sans-serif;
   font-weight: 400;
}
.inverse p{
   font-family: 'Arimo', sans-serif;
   font-size: 18px;
   font-weight: 600;
}
.inverse .subtitle{
   font-size: 25px;
   font-weight: 200;
   font-style: italic;
}
.ciclo{
   width: 36%;
}
/*Sobre mim*/

#sobremin{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0;
    flex-direction: column;


}

#sobremin .division{
    width: 1200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
    margin-top: -90px;
    z-index: 3;
}

.contLateral{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}
.case{
   font-family: 'Bebas Neue', sans-serif;
   color: #2c2c2c;
   font-size: 16px;
   text-align: center;
}
.titulos{
   
   margin-bottom: 20px;
}
.nome{
   text-align: center;
}



#sobremin .division .status{
    width: 500px;
    background-color: rgb(255, 255, 255);
   display: flex;
   flex-direction: column;
    text-align: justify;
    align-items: center;
    color: rgb(17, 17, 17);
    height: 500px;
    justify-content: center;
    
    
}
#sobremin .division .status h1{
    font-size: 42px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 20px;
}


#sobremin .division button{
    background-color:transparent ;
    padding: 20px 60px;
    color: whitesmoke;
    font-size: 26px;
    border: 0;
    text-decoration: underline #007C71;
    color: #007C71;
    font-family: 'Bebas Neue', sans-serif;
    border: 2px solid #007C71;
    margin: 20px 0;
}



#sobremin .division .status .listdescript{
margin: 30px 0;
    font-size: 18px;
    color: #3a3a3a;
   
    font-family: 'Arimo', sans-serif;
}

.onda{
   filter: drop-shadow(2px 0px 0px rgba(0, 0, 0, 0.3))
   drop-shadow(2px 0px 0px rgba(0,0,0,0.2))
   drop-shadow(0px -1px 0px rgba(0,0,0,0.2));
}

.divisionLateral{
   margin-top: -90px;
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 90%;
   z-index: 3;
}
.contLateral{
   width: 70%;
   margin: 30px 0;
}
.contLateral img{
   width: 65%;
}

.statusLateral h2{
font-family: 'Bebas Neue', sans-serif;
}
.statusLateral p{
   font-family: 'Arimo', sans-serif;
   font-size: 16px;
   width: 450px;
}
.statusLateral .subtitle{
   font-size: 12px;
   font-weight: 600;
}
.statusLateral button{
   width: 100%;
   border: 0;
   border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 100px;
    background-color: #3d3d3d;
    color: white;
    width: 180px;
    height: 40px;
    font-size: 18px;

    font-family: 'Bebas Neue', sans-serif;
    margin-top: 30px;
}

#pedra{
   width: 30%;
}
#logoMini{
   margin-left: 80%;
}
.divisionEx{
   display: flex;
   flex-direction: column;
   
}
.divisionEx h1{
   z-index: 4;
   margin-bottom: 100px;
   font-family: 'Bebas Neue', sans-serif;
   text-align:left;
   font-size: 45px;
   width: 600px;
}
#sobremin .divisionEx .division{
   width: 800px;
}

  

 /*Fale Conosco*/

 #fale-conosco{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(15deg, #037B70 50%, #1ea59a 50.1%);
 }
 #fale-conosco .conteinerF {
    width: 1500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

 }

 #fale-conosco .conteinerF .info-conosco{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    color: whitesmoke;
 }

 #fale-conosco .conteinerF .info-conosco button{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 100px;
    border: 0;
    padding: 15px 70px;
    color:whitesmoke;
    background-color: #037B70;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 200;
    font-size: 30px;
    cursor: pointer;
 }
 
 #fale-conosco .conteinerF .subtitle{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
    
    height: 90px;
 }
 #fale-conosco .conteinerF .subtitle h1{
    font-size: 50px;
    
 }
 #fale-conosco .conteinerF .subtitle h2{
    font-size: 20px;
    font-weight: 100;
    
 }

 /*Rodape*/

 #rodape{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(180, 180, 180, 0.61);
    height:450px;
    background: url(src/backgroundRodape.png) no-repeat;
    background-size: cover;
 }

 #rodape .conteinerR{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
 }
 #rodape .conteinerR .info-rodape{
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
   


 }
 #rodape .conteinerR .info-rodape h1{
   font-size: 25px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 100;


 }
 #rodape .conteinerR .info-rodape .info-f{
    display: flex;
  
    height: 120px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    

 }
 #rodape .conteinerR .info-rodape .info-f h1{
   font-size: 25px;
   color: #037B70;
   border-bottom: 2px solid black;
   width: 100%;
   margin-bottom: 20px;
   font-weight: 100;
   
   

}
 #rodape .conteinerR .info-rodape .info-f p{
   font-size: 15px; 
   color: rgb(39, 39, 39);
   font-family: 'Arimo', sans-serif;
   display: flex;
   align-items: center;

 }
#rodape .conteinerR .info-rodape .info-f p img{
   margin-top: 12px;
   margin-right: 10px;
   
 }

 #rodape .conteinerR .info-rodape .info-g{
    display: flex;
   
    flex-direction: column;
    justify-content: flex-start;
    
    

 }

 #rodape .conteinerR .info-rodape .info-g div{

    display: flex;
    flex-direction: column;
  
    justify-content: flex-start;
    color: rgb(79, 79, 79);
    

    

 }
 #rodape .conteinerR .info-rodape .info-g .links{

    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    

    

 }
 #rodape .conteinerR .info-rodape .info-g .local{

    height: 50%;
    
    

    

 }
 #rodape .conteinerR .copy{
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 200px;
    font-family: 'Bebas Neue', sans-serif;
    color: #037B70;
 }
    #rodape .conteinerR .copy .links img{
      margin: 20px 10px;
     
 
     
 
  }
 
  #rodape .conteinerR .copy div{
    border-top: 2px solid #000000;
    padding-top: 10px;
    
    
   

     
 
     
 
  }
  .copyright{
   border-top: 2px solid #1b1b1bbd;
   width: 500px;
   text-align: center;
   margin: 20px;
   padding: 10px 0;
      font-family: 'Arimo', sans-serif;
      font-size: 15px;
  }
  .copyright .top{
   font-weight: 600;
  }
  
 
 /* ===== Parte 1 =====*/
 .logoRodape{
   display: flex;
   flex-direction: column;
   
   height: 90%;
   font-family: 'Baskervville', serif;
   width: 30%;
   color: #000000;
 }

 .rodapePrin{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 33%;
   margin-bottom: 90px;
 }
 .rodapePrin h2{
   font-size: 16px;
 }

 .infoCredit{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   font-family: 'Arimo', serif;
   font-size: 13px;
  
   height: 13%;
   margin-bottom: 20px;
 }

 .logoRodape a{
   font-family: 'Arimo', serif;
   font-weight: 600;
   color: #000000;
   font-size: 14px;
}

/* ===== Parte 2 =====*/
.logoRodape .title{
   font-family: 'Arimo', serif;
   font-weight: 300;
   font-size: 20px;
   margin: 30px 0;
 }
 .infoContato{
   font-size: 16px;
   font-family: 'Arimo', serif;
   margin-bottom: 80px;

 }
 .infoContato p{
   margin-bottom: 20px;
 }
/*Formulario*/

  textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

 



  #formMensagem{
   z-index: 5;
   position:fixed;
   width: 100%;
   height: 100%;
   top: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #0000006b;
   visibility: hidden;
  }
  .boxForm img{
   margin-left: 87%;

   
  }
  .boxForm{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 600px;
   height: 600px;
   background: linear-gradient(15deg, #597976 50%, #7ea8a4 50.1%);
   box-shadow: 0 0 2px #000000be,
   0 0 5px #0000008f,
   0 0 10px #0000007c,
   0 0 20px #00000073;
   margin-bottom: 50px;
   border-radius: 5px;
   
  }
  .formMensagem{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 90%;
  }
  .formMensagem label{
   margin: 20px 0;
   font-family: 'Bebas Neue', sans-serif;
   font-size: 30px;
   color: whitesmoke;

  }
  .formMensagem input{
   padding: 15px 15px;
   border-radius: 4px;
   width: 350px;
   background-color: #1e635d;
   font-family: 'Arimo', sans-serif;
   border: 2px solid #0e1414b0;
   color: white;
   font-size: 18px;

  }
  .formMensagem input::placeholder{
   color: rgb(197, 197, 197);
  }
  .formMensagem button{
   font-family: 'Bebas Neue', sans-serif;
   background-color: #1e635d;
   border: none;
   border-radius: 5px;
   width: 200px;
   font-size: 26px;
   color: white;
   padding: 10px 20px;
  }
  .formMensagem .descript{
   margin: 0px 0 20px 0;
   font-size: 18px;
   font-family: 'Arimo', sans-serif;
   
  }
  #posFeito{
   display: none;
   flex-direction: column;
   
   align-items: center;
   color: white;
   justify-content: space-around;
   height: 90%;
   width: 80%;
  }
  #posFeito h2{
   font-size: 35px;
   text-align: center;
   font-family: 'Bebas Neue', sans-serif;
   font-weight: 200;
  }
  #posFeito a{
   text-align: center;
   font-family: 'Arimo', sans-serif;
   width: 300px;
   text-decoration: none;
   
   font-size: 30px;

   background-color: transparent;
   border: 4px solid #ffffff;
   border-radius: 5px;
   color: white;
   padding: 10px 20px;
   transition: background-color 2s, transform 2s;
  }
  #posFeito a:hover{
   background-color: #03998c;
   transform: scale(1.1);
  }
  #titleFormulario{
   font-size: 45px;
  }


 

 









