@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*,body{
    margin: 0;
    padding: 0;
    
}

body{
    min-width: 100%;
}
#menu{
    display: flex;
    
    align-items: center;
    width: 100%;
    justify-content: center;
    box-shadow: 1px 1px rgba(223, 223, 223, 0.663), 0 .2em .4em rgb(59, 59, 59);

    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: whitesmoke;
}

#menu .conteiner{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    height: 100px;
}
#menu h1{
    color: #00985d;
    font-size: 50px;
    font-family:'Bebas Neue', sans-serif;
    
}

#menu #list{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Bebas Neue', sans-serif;
}

#menu #home{
    color: rgba(54,86,62,255);
    font-weight: 700;
}

#menu .listMenu{
    border:0;
    color: rgba(93,100,58,255);
    background:none;
    transition: color 0.2s;
    font-family:'Bebas Neue', sans-serif;
    font-size: 20px;
}

#menu #cfo{
   border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 100px;
    background-image: linear-gradient(to right, #007C71, #037B70);
    color: white;
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#menu .listMenu:hover{
    color: rgba(54,86,62,255);
    font-weight: 700;
}

/*Destaque*/

#destaque{
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Bebas Neue';
    

}
#destaque h1{
   margin-top: -140px;
   font-size: 80px;
   color: #037B70;}
#destaque h2{
   margin-top: 5px;
   font-size: 30px;
   color: #037B70;
}
#destaque a{
   font-size: 20px;
   margin-top: 20px;
   color: #2c2c2c
}



/*Serviços*/
#servicos{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
   
}

#servicos .titleS{
    text-align: center;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 50px;
}
#servicos .titleS h1{
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 30px;
    
}
#servicos .titleS p{
    font-size: 22px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 100;
    color: rgb(75, 75, 75);

}

#servicos .conteiner-service{
   margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#servicos .conteiner-service .serv{
   display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 900px;
    margin-bottom: 50px;
}
#servicos .conteiner-service .boxservice{
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    text-align:left;
    font-family: 'Bebas Neue', sans-serif;
    border: 1px solid rgb(114, 114, 114);
    box-shadow: 0 0 1px #adadad,
              0 0 2px #adadad,
              0 0 5px #adadad,
              0 0 10px #adadad;
              border-radius: 5px;
    
   transition: transform 2s;
}
.boxservice:hover{
   transform: scale(1.1);
}

#servicos .conteiner-service .boxservice ul{
   margin-top: 20px;
   width: 80%;
   color: rgb(49, 49, 49);
   list-style: none;
   text-align: center;
   
   

   
}
.imgS{
   transition: transform 1s;
}
.buttonS{
    margin-top: 20px;
    padding: 10px 40px;
    background-color:transparent ;
    text-decoration: underline #007C71;
    border: 0;
    font-size: 24px;
    color: #037B70;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 20px;
    
}
.imgS:hover{

    transform: scale(1.1);
}

/*Sobre mim*/

#sobremin{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0;
    flex-direction: column;


}
.title{
   font-size: 60px;
   font-family: 'Bebas Neue', sans-serif;
   border: 4px solid #000000;
   padding: 20px 300px;
   margin-bottom: 110px;
}

#sobremin .division{
    width: 1200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px;
}
.case{
   font-family: 'Bebas Neue', sans-serif;
   color: #2c2c2c;
   font-size: 16px;
   text-align: center;
}
.titulos{
   
   margin-bottom: 20px;
}
.nome{
   text-align: center;
}

.division img{
   box-shadow: 0 0 1px #adadad,
   0 0 2px #adadad,
   0 0 5px #adadad,
   0 0 10px #adadad;
}
#sobremin .division .status{
    width: 500px;
    background-color: rgb(255, 255, 255);
   display: flex;
   flex-direction: column;
    text-align: justify;
    color: rgb(17, 17, 17);
}
#sobremin .division .status h1{
    font-size: 42px;
    font-family: 'Bebas Neue', sans-serif;
}


#sobremin .division button{
    background-color:transparent ;
    padding: 20px 60px;
    color: whitesmoke;
    font-size: 26px;
    border: 0;
    text-decoration: underline #007C71;
    color: #007C71;
    font-family: 'Bebas Neue', sans-serif;
    border: 2px solid #007C71;
    margin: 20px 0;
}



#sobremin .division .status .listdescript{

    font-size: 18px;
    color: #3a3a3a;
   
    font-family: 'Arimo', sans-serif;
}



 /*Fale Conosco*/

 #fale-conosco{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(15deg, #037B70 50%, #1ea59a 50.1%);
 }
 #fale-conosco .conteinerF {
    width: 1500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

 }

 #fale-conosco .conteinerF .info-conosco{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    color: whitesmoke;
 }

 #fale-conosco .conteinerF .info-conosco button{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 100px;
    border: 0;
    padding: 15px 70px;
    color:whitesmoke;
    background-color: #037B70;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
 }
 
 #fale-conosco .conteinerF .subtitle{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
    
    height: 90px;
 }
 #fale-conosco .conteinerF .subtitle h1{
    font-size: 50px;
    
 }
 #fale-conosco .conteinerF .subtitle h2{
    font-size: 20px;
    font-weight: 100;
    
 }

 /*Rodape*/

 #rodape{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(180, 180, 180, 0.61);
    padding-top: 70px;
 }

 #rodape .conteinerR{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 }
 #rodape .conteinerR .info-rodape{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-around;
    align-items: center;
   


 }
 #rodape .conteinerR .info-rodape h1{
    
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;

 }
 #rodape .conteinerR .info-rodape .info-f{
    display: flex;
    width: 400px;
    height: 120px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    

 }
 #rodape .conteinerR .info-rodape .info-f h1{
   font-size: 30px;
   color: #037B70;
   border-bottom: 2px solid black;
   width: 100%;
   margin-bottom: 20px;
   
   

}
 #rodape .conteinerR .info-rodape .info-f p{
   font-size: 20px; 
   color: rgb(39, 39, 39);
   font-family: 'Arimo', sans-serif;
 }


 #rodape .conteinerR .info-rodape .info-g{
    display: flex;
   
    flex-direction: column;
    justify-content: flex-start;
    
    

 }

 #rodape .conteinerR .info-rodape .info-g div{

    display: flex;
    flex-direction: column;
  
    justify-content: flex-start;
    color: rgb(79, 79, 79);
    

    

 }
 #rodape .conteinerR .info-rodape .info-g .links{

    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    

    

 }
 #rodape .conteinerR .info-rodape .info-g .local{

    height: 50%;
    
    

    

 }
 #rodape .conteinerR .copy{
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
   width: 240px;
    font-family: 'Bebas Neue', sans-serif;
    color: #037B70;
 }
    #rodape .conteinerR .copy .links img{
      margin: 20px 10px;
     
 
     
 
  }
 
  #rodape .conteinerR .copy div{
    border-top: 2px solid #000000;
    padding-top: 10px;
    
    
   

     
 
     
 
  }
  



  /*Formulario*/

  .conteinerRoot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
  }


  #statusroot{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    color: whitesmoke;

  }

  #root{
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    
  }


  #root input{
    border: 0px;
    padding: 5px 10px;
    width: 100%;
    height: 50px;
    text-align: left;
    background-color: transparent;
    border-bottom: 3px solid rgb(33, 33, 33);
    color: white;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    
  }

  #root input:hover{
    border-bottom: 3px solid #00985d;
   
    
  }


  #root textarea{
    border: 0px;
    padding: 10px;
    margin-bottom: 30px;
    width: 100%;
    height: 80px;
    text-align: left;
    background-color: transparent;
    border-bottom: 3px solid rgb(33, 33, 33);
    color: white;
    font-size: 15px;
    resize: none;
    font-family: 'Playfair Display', serif;
    
  }

  #root textarea:hover{
    border-bottom: 3px solid #00985d;
    
  }

  #root ::-webkit-input-placeholder{
    color: white;
    font-size: 15px;
  }
  #root textarea::placeholder{
    color: white;
    font-size: 15px;
  }

  #root label{
    
    font-size: 22px;
    font-weight: 500;
    color: whitesmoke;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
  }

 
 


  textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

 
/*Celular*/

@media screen and (max-width: 414px) {
    .listMenu{
        display: none;
    }

    #destaque{
        width: 100%;
        min-width: 412px;
    }

    .conteiner-service{
        flex-direction: column;
        align-items: center;
    }

    #rodape .conteinerR .info-rodape{
        flex-direction: column;
    }
    .info-f{
        flex-direction: column;
    }
    .image{
        display: none;
    }
    #destaque .conteiner .title{
        width: 100%;
    }
    #destaque .conteiner .title .space{
        margin-left:20px;
        width: 100%;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    #destaque .conteiner .title .space h1{
        font-size: 50px;
    }
    #destaque .conteiner .title .space p{
       text-align: justify;
       width: 80%;
    }
    #destaque .conteiner .title .space button{
       margin-left: 20px;
        width: 60%;
     }

     #servicos{
        width: 100%;
     }
     #servicos .titleS{
        width: 80%;
        align-items: center;
        min-height: 400px;
       
     
     }
     .titleS h1{
        width: 100%;
        font-size: 25px;
        
     }

     #servicos .conteiner-service .boxservice{
        width: 100%;
        min-height: 400px;
        margin: 30px 0;
       
     }
     #servicos .conteiner-service .boxservice .cont{
        min-height: 200px;
     }
     #servicos .conteiner-service .boxservice .imgS{
        min-height: 200px;
     }

     #info .conteinerI {
        min-height: 250px;
     }

     #info .conteinerI h1{
        font-size: 13px;
        font-weight: 100;
        text-align: center;
        font-style: italic;
        font-family: Georgia, 'Times New Roman', Times, serif;
     }
     #info .conteinerI .autor img{
        width: 70px;
     }

     #info .conteinerI .autor .subtitle h2{
        font-size: 20px;
     }
     #info .conteinerI .autor .subtitle p{
        font-size: 12px;
     }

     #sobremin{
        height: 700px;
     }
     #sobremin .division{
        width: 100%;
     }

     #sobremin .division .status{
        width: 80%;
        
     }
     #sobremin .division .status h1{
       font-size: 30px;
       text-align: start;
     }

     #sobremin .division .status .listdescript p{
        font-size: 15px;
      }

    #sobremin .division .status div p{
        font-size: 12px;
      }

    #sobremin .division .status div{
        height: 50px;
      }

    #sobremin .division .status .listdescript p {
        min-height: 60px;
    }

     #sobremin #cliente{
        display: none;
     }

     #fale-conosco .conteinerF .info-conosco{
        flex-direction: column;
     }
     #fale-conosco .conteinerF {
        width: 100%;
     }
     #fale-conosco .conteinerF .info-conosco .subtitle{
        flex-direction: column;
        align-items: center;
     }
     #fale-conosco .conteinerF .info-conosco .subtitle h1{
        margin-top: 10px;
        font-size: 40px;
        text-align: center;
        width: 70%;
     }
     #fale-conosco .conteinerF .info-conosco .subtitle h2{
        margin-top: 5px;
        font-size: 12px;
        text-align: center;
        font-family: 'Playfair Display', serif;
        width: 80%;
     }

     #fale-conosco .conteinerF .info-conosco button{
        width: 70%;
        text-align: center;
        font-size: 15px;
        height: 50px;
        margin-bottom: 15px;
        padding: 0;
     }
     #fale-conosco .conteinerF .conteinerRoot{
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
     }

     .conteinerRoot #statusroot{
        width: 100%; 
        align-items: center;
    
     }
     .conteinerRoot #statusroot p{
        font-family: 'Playfair Display', serif;
        font-size: 15px;
        text-align: center;
        
     }
     .conteinerRoot #statusroot div {
        margin: 10px 0;
        
     }
     .conteinerRoot #root{
        width: 100%;
     }

     .conteinerRoot #root input{
        width: 50%;
     }

     .conteinerRoot #root textarea{
        width: 80%;
     }

     .conteinerRoot #root button{
        font-family: 'Playfair Display', serif;
        border-radius: 1px;
     }

     #rodape .conteinerR .info-rodape{
        align-items: center;
        margin: 15px 0;
     }

     #rodape .conteinerR .info-rodape .info-f{
        text-align: center;
     }

     #rodape .conteinerR .info-rodape .info-f form{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     #rodape .conteinerR .info-rodape .info-f form input{
       margin:  10px 0;
     }

     #rodape .conteinerR .info-rodape .info-f form button{
        font-size: 15px;
        padding: 0;
        width: 100%;
        height: 50px;
      }

     #rodape .conteinerR{
        height: 600px;
        justify-content: space-between;
     }

     #rodape .conteinerR .info-rodape{
        height: 50%;
     }
     #rodape .conteinerR .copy{
        height: 30%;
     }

     #rodape .conteinerR .copy p{
        font-size: 12px;
        margin-right: 10px;
        padding-right:10px ;
     }

  }


 

 









